<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- <script type="text/javascript" src="{{ "/assets/js/jquery.fitvids.js" | prepend: site.baseurl  }}"></script> -->
<!-- <script type="text/javascript" src="{{ "/assets/js/index.js" | prepend: site.baseurl  }}"></script> -->
<!-- <script type="text/javascript" src="{{ "/assets/js/readingTime.min.js" | prepend: site.baseurl  }}"></script> -->
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZm9ydGdyZWVuZW9wZW5zdHJlZXRzIiwiYSI6ImNrbHpoZm1tNjF2cW0ydXM1b2I4aW9leGkifQ.IcBBiCbvTtp8vaGPixDsGw';

  var map = new mapboxgl.Map({
    container: 'map-box',
    style: 'mapbox://styles/fortgreeneopenstreets/ckm3hkcj10iqg17m7mojpammu',
    center: [-73.9752, 40.6914],
    zoom: 14,
    scrollZoom: false
  });

  map.addControl(new mapboxgl.FullscreenControl());

  map.on('load', function () {

    function addStreet(name, coords) {
      map.addSource(name, {
        'type': 'geojson',
        'data': {
          'type': 'Feature',
          'properties': {},
          'geometry': {
            'type': 'LineString',
            'coordinates': coords,
          }
        }
      });
      map.addLayer({
        'id': name,
        'type': 'line',
        'source': name,
        'layout': {
          'line-join': 'round',
          // 'line-cap': 'round'
        },
        'paint': {
          'line-color': '#97B9EF',
          'line-width': 5
        }
      });
    }
    addStreet('willoughby', [
      [-73.97359067459108, 40.6917172622572],
      [-73.96854812164308, 40.69154642892181],
      [-73.9655976917267, 40.69187182537374],
    ]);

    addStreet('north-portland', [
      [-73.97511987653503, 40.68972142394624],
      [-73.97393970456848, 40.68374995340257],
    ]);

    addStreet('north-elliot', [
      [-73.97752313581238, 40.698034189250485],
      [-73.97735147443542, 40.69645614758671],
    ]);

    addStreet('hall', [
      [-73.96592197528248, 40.69352259289361],
      [-73.96635112872487, 40.69557250321127],
    ]);
  });

</script>
<script>
  (function ($) {
    "use strict";
    $(document).ready(function () {

      var $window = $(window),
        $image = $('.post-image-image, .teaserimage-image');

      $window.on('scroll', function () {
        var top = $window.scrollTop();

        if (top < 0 || top > 1500) { return; }
        $image
          .css('transform', 'translate3d(0px, ' + top / 3 + 'px, 0px)')
          .css('opacity', 1 - Math.max(top / 700, 0));
      });
      $window.trigger('scroll');

      var height = $('.article-image').height();
      height = height * 4.0 / 5.0;
      $('.post-content').css('padding-top', height + 'px');
      $('.article-image').css('height', height + 'px');

      $('a[href*=#]:not([href=#])').click(function () {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
          && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
          if (target.length) {
            $('html,body').animate({ scrollTop: target.offset().top }, 500);
            return false;
          }
        }
      });

    });
  }(jQuery));
</script>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}